trigger:
- none

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageRepository: 'bsh-verification-api'
  containerRegistry: 'bshregistry.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/05_backend_system/api_service/Dockerfile'
  tag: '$(Build.BuildId)'

steps:
- task: Docker@2
  displayName: Build and push an image to container registry
  inputs:
    command: buildAndPush
    repository: $(imageRepository)
    dockerfile: $(dockerfilePath)
    containerRegistry: $(containerRegistry)
    tags: |
      $(tag)
      latest
    buildContext: '$(Build.SourcesDirectory)'

- task: AzureWebAppContainer@1
  displayName: 'Azure Web App on Container Deploy'
  inputs:
    azureSubscription: 'BSH_Azure_Subscription'
    appName: 'bsh-verification-api-prod'
    containers: $(containerRegistry)/$(imageRepository):$(tag)
